<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Developer Evangelism{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "components/favicons/favicons.html" %}{# favicons need to be set explicitely as served from sub dir on gh-pages #}
    {% block styles %}
    <style>{% include "index.css" %}</style>
    {% endblock %}
</head>

<body>
<header role="banner" class="app-header">
    <h1 class="app-header__title"><a href="{{ root }}">Developer Evangelism</a></h1>
    <p class="app-header__tagline">Content from <a href="http://developer-evangelism.com/">developer-evangelism.com</a> by <a href="https://twitter.com/codepo8">Chris Heilmann</a></p>
</header>

<main role="main">
    {% block content %}{% endblock %}

    {#<aside>Donate...</aside>#}
</main>

{% block appFooter %}
<footer role="contentinfo" class="app-footer">
    {# fetch from developer-evangelism instead of hard-coded #}
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/uk/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/2.0/uk/88x31.png"></a>
    <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">The Developer Evangelist Handbook</span> by <address class="vcard">
    <a class="fn" xmlns:cc="http://creativecommons.org/ns#" href="http://icant.co.uk" property="cc:attributionName" rel="cc:attributionURL">Christian Heilmann</a> (<a href="mailto:onlinetoolsorg@gmail.com" class="email">email</a>),
    a <span class="title">international developer evangelist</span> living and working in <span class="adr"><span class="locality">London</span>, <span class="country-name">England</span></span></address>
    is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/uk/">Creative Commons Attribution-Non-Commercial-No Derivative Works 2.0 UK: England &amp; Wales License</a>.
    Based on a work at <a xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://developer-evangelism.com" rel="dc:source">developer-evangelism.com</a>. Icons by <a href="http://www.famfamfam.com/lab/icons/silk/">FamFamFam</a>.
    <a href="http://twitter.com/codepo8" id="twitter">I answer on Twitter!</a>
</footer>
{% endblock %}

{% block scripts %}
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ root }}sw.js', { scope: '{{ root }}' })
            .then(function(reg){ console.log('registered sw, scoped to', reg.scope); })
            .catch(function(err){ console.error('error registering sw', err); });
    }
</script>
<script src="{{ root }}index.js"></script>
{% endblock %}
</body>
</html>