{% extends "views/_base.html" %}

{% macro itemRow(item) %}
    <tr>
        <td>
            <a href="./{{ item.slug }}/">{{ item.title }}</a>
        </td>
        <td>
            <label data-offline-widget>
                <input type="checkbox" value="{{ item.slug }}/" disabled data-offline-switch>
                <span class="a11y-only">save offline</span>
            </label>
        </td>
    </tr>
{% endmacro %}

{% block content %}
    <nav class="toc">
        <table>
            <thead>
                <th><h1>Table of contents</h1></th>
                <th>offline?</th>
            </thead>
            <tbody>
            {{ itemRow({ title: 'Introduction', slug: 'introduction' }) }}
            {{ itemRow({ title: 'About', slug: 'about' }) }}
            {% for item in items %}
                {{ itemRow(item) }}
            {% endfor %}
            </tbody>
        </table>
    </nav>
{% endblock %}